<% if user_signed_in? %>

  <h1>Friend list</h1>

  <table class="table table-striped table-hover">
    <thead class="table-primary">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>User who created it</th>
        
      </tr>
    </thead>

    <tbody>
      <% @friends.each do |friend| %>
        <% if friend.user == current_user %> <!-- solo vera sus propios amigos. si saco esto se ve todo pero cada uno con lo suyo -->
          <tr>
            <td>
              <%= link_to friend.first_name + ' ' + friend.last_name, friend %>
            </td>
            <td><%= friend.email %></td>
            <td><%= friend.phone %></td>
            <td><%= friend.user.email %></td>
            <!-- <td class="btn btn-outline-secondary btn-sm"><%= link_to 'Show', friend %></td> -->
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Friend', new_friend_path, class:"btn btn-info" %>

<% else %>
  <b> Logueate perraco </b>
<% end %>